<ion-view view-title="Collect">
  <ion-nav-buttons side="right">
    <select ng-model="day" ng-options="x for x in days" ng-change="changeLevel(day)" style="width: 100px;margin-right: 30px;">
    </select>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="refresh" on-refresh="stopSound()"></ion-refresher>
    

    <div id="sz399006" style="width:700px;float: left;"></div>
    <div id="sz399678" style="width:700px;float: left;"></div>
    <div id="sz399001" style="width:700px;float: left;"></div>
    <div id="sh000016" style="width:700px;float: left;"></div>
    <div id="sz399807" style="width:700px;float: left;"></div>
    <div id="sz399991" style="width:700px;float: left;"></div>
    <div id="sz399995" style="width:700px;float: left;"></div>
    <div id="sz399959" style="width:700px;float: left;"></div>
    <div id="sz399239" style="width:700px;float: left;"></div>
    <div id="sz399803" style="width:700px;float: left;"></div>
    <div id="sz399417" style="width:700px;float: left;"></div>
    <div id="sz399441" style="width:700px;float: left;"></div>
    <div id="sz399994" style="width:700px;float: left;"></div>
    <div id="sz399970" style="width:700px;float: left;"></div>
    <div id="sz399971" style="width:700px;float: left;"></div>
    <div id="sz399232" style="width:700px;float: left;"></div>
    <div id="sz399998" style="width:700px;float: left;"></div>
    <div id="sz399806" style="width:700px;float: left;"></div>
    <div id="sz399814" style="width:700px;float: left;"></div>
    <div id="sz399989" style="width:700px;float: left;"></div>
    <div id="sz399997" style="width:700px;float: left;"></div>
    <div id="sz399996" style="width:700px;float: left;"></div>
    <div id="sz399812" style="width:700px;float: left;"></div>
    <div id="sz399240" style="width:700px;float: left;"></div>
    <div id="sz399986" style="width:700px;float: left;"></div>
    <div id="sz399975" style="width:700px;float: left;"></div>
    <div id="sz399809" style="width:700px;float: left;"></div>

  </ion-content>
</ion-view>