<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Trans" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tab/trans">
    <ion-nav-view name="trans"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Bktrans" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/tab/bktrans">
    <ion-nav-view name="bktrans"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Ctrans" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/ctrans">
    <ion-nav-view name="ctrans"></ion-nav-view>
  </ion-tab>


</ion-tabs>