<ion-view view-title="Wave Up">
    <ion-content>
    <ion-refresher pulling-text="refresh" on-refresh="getCounter(url)"></ion-refresher>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
            <tr ng-repeat="stock in $data">
                <td title="'代码'" sortable="'code'" ng-click="openModal('{{stock.code}}')">
                    {{stock.code}}<span class="badge label-danger">{{ting[stock.code.toLowerCase()]}}</span></td>
                <td title="'名称'" sortable="'name'">
                    {{stock.name}}</td>
                <td title="'price'" sortable="'price'">
                    {{stock.price}}</td>
                <td title="'current'" sortable="'current'">
                    {{stock.current}}</td>
                <td title="'a'" sortable="'a'">
                    {{stock.a | number:3}}</td>
                <td title="'increase'" sortable="'increase'">
                    {{stock.increase | number:3}}</td>
                <td title="'time'" sortable="'time'">
                    {{stock.time}}</td>
                <td title="'level'" sortable="'level'">
                    {{stock.level}}</td>
                <td title="'Attend'">
                    <button ng-click="addAttend(stock.code)">Add</button>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>